---
title: Markus Mårtensson
languages:
    swedish:
        text: Swedish
        wiki: Swedish_language
    english:
        text: English
        wiki: English_language
    norweigian:
        text: Norwegian
        wiki: Norweigian_language
    danish:
        text: Danish
        wiki: Danish_language
    german:
        text: German
        wiki: German_language
skills:
    afs:
        text: AFS
        desc: Andrew File System
        wiki: Andrew_File_System
        comp: familiar
    agile:
        text: Agile
        desc: Agile software development
        wiki: Agile_software_development
        comp: proficient
    aix:
        text: AIX
        wiki: IBM_AIX_(operating_system)
        comp: familiar
    broadcasting:
        text: Broadcasting
        comp: proficient
    c:
        text: C
        wiki: C_programming_language
        comp: familiar
    cpp:
        text: C++
        wiki: C%2B%2B
        comp: familiar
    css:
        text: CSS
        desc: Cascading Style Sheets
        wiki: Css
        comp: proficient
    db2:
        text: DB2
        wiki: IBM_DB2
        comp: proficient
    digitalmedia:
        text: Digital media
        wiki: Digital_media
        comp: proficient
    distributedsystems:
        text: Distributed systems
        wiki: Distributed_systems
        comp: expert featured
    foss:
        text: F/OSS
        desc: Free and Open Source Software
        wiki: Free_and_Open_Source_Software
        comp: proficient
    gwt:
        text: GWT
        desc: Google Web Toolkit
        wiki: Google_Web_Toolkit
        comp: proficient
    html:
        text: HTML
        desc: HyperText Markup Language
        wiki:
        comp: expert
    irix:
        text: IRIX
        wiki: SGI_IRIX
        comp: familiar
    java:
        text: Java
        wiki: Java_(programming_language)
        comp: expert featured
    javascript:
        text: Javascript
        wiki: Javascript
        comp: expert
    jms:
        text: JMS
        desc: Java Message Service
        wiki: Java_Message_Service
        comp: proficient
    json:
        text: JSON
        desc: JavaScript Object Notation
        wiki: Json
        comp: expert
    kerberos:
        text: Kerberos
        wiki: Kerberos_(protocol)
        comp: familiar
    ldap:
        text: LDAP
        desc: Lightweight Directory Access Protocol
        wiki: Ldap
        comp: familiar
    linux:
        text: Linux
        wiki: GNU_Linux
        comp: expert
    lucene:
        text: Lucene
        comp: proficient
        wiki: Lucene
    mam:
        text: MAM
        desc: Media Asset Management
        wiki: Media_asset_management
        comp: expert
    metadata:
        text: Metadata
        wiki: Metadata
        comp: expert
    mysql:
        text: MySQL
        comp: proficient
        wiki: Mysql
    oracle:
        text: Oracle
        wiki: Oracle_Database
        comp: familiar
    perl:
        text: Perl
        wiki: Perl
        comp: expert
    php:
        text: PHP
        wiki: Php
        comp: familiar
    pki:
        text: PKI
        desc: Public Key Infrastructure
        wiki: Public_key_infrastructure
        comp: familiar
    rest:
        text: REST
        desc: Representational State Transfer
        wiki: Representational_State_Transfer
        comp: expert featured
    textsearch:
        text: Text search
        wiki: Search_engine_(computing)
        comp: expert featured
    scrum:
        text: Scrum
        wiki: Scrum_(development)
        comp: proficient
    security:
        text: Security
        wiki: Computer_security
        comp: familiar
    soap:
        text: SOAP
        desc: Simple Object Access Protocol
        wiki: SOAP
        comp: familiar
    solaris:
        text: Solaris
        wiki: Solaris_(operating_system)
        comp: familiar
    systemadministration:
        text: System administration
        wiki: System_administration
        comp: proficient
    systemprogramming:
        text: System programming
        wiki: System_programming
        comp: proficient
    webapplications:
        text: Web applications
        wiki: Web_application
        comp: expert featured
    windows:
        text: Windows
        wiki: Microsoft_windows
        comp: proficient
    workflows:
        text: Workflows
        desc: Workflow Management Systems
        wiki: Workflow_engine
        comp: proficient
    xml:
        text: XML
        desc: eXtensible Mark-up Language
        wiki: Xml
        comp: expert
---
<article itemscope itemtype="http://schema.org/Person" class="h-card">
<div class="intro wrapper">
  <header>
    <h1><span itemprop="givenName" class="p-given-name">Markus</span>
      <span itemprop="familyName" class="p-family-name">Mårtensson</span></h1>
  </header>
  <section>
    <header>
      <h1>Welcome</h1>
    </header>
    <p> Very nice of you to drop by to one of the best sources of information
    about me, <span itemprop="name" class="p-name">Markus
    Mårtensson</span>. These pages are filled to the brim with
    self-congratulatory tidbits for your reading pleasure. In short, I am a
    Computer Science graduate with a couple of decades' worth of experience developing software,
    mainly for broadcasters. I live with my wife and two kids in
    <span itemscope itemprop="homeLocation" itemtype="http://www.schema.org/Place">
      <span itemprop="name" class="p-locality">Solna</span></span>.
    </p>

    <p> I currently work as <span itemprop="jobTitle" class="p-job-title">Lead Software Architect</span>
    at <span itemprop="worksFor" itemscope itemtype="http://www.schema.org/Organization">
      <span itemprop="name" class="p-org">Mayam</span>,
    <span itemprop="description">a company that provides workflow solutions for the media industry</span>
    </span>. Check out my <a href="#resume">resumé</a> below for a more details on my past positions.</p>

    <span itemprop="gender" class="p-sex" aria-hidden="true">M</span>
    <span itemprop="honorificSuffix" aria-hidden="true" class="p-honorific-suffix">MscCS</span>
  </section>
</div>

<div class="contact wrapper">
  <section>
    <header>
     <h1><a name="contact">Contact</a></h1>
    </header>

    <ul class="icontable">
      <li><i class="icon-twitter"></i> <a href="https://twitter.com/mmartensson" rel="me">Twitter</a> <span>@mmartensson</span></li>
      <li><i class="icon-google-plus"></i> <a href="https://plus.google.com/118169339098378573736?rel=author">Google+</a></li>
      <li><i class="icon-linkedin"></i> <a href="https://www.linkedin.com/in/mmartensson" rel="me">Linkedin</a></li>
      <li><i class="icon-envelope"></i> <a href="mailto:markus.martensson@gmail.com">Email</a> <span itemprop="email" class="u-email">markus.martensson@gmail.com</span></li>
      <li><i class="icon-mobile-phone"></i> <a href="tel:+46730801043">Phone</a> <span itemprop="telephone" class="p-tel">+46730801043</span></li>
      <li><i class="icon-globe"></i> <a href="http://www.acc.umu.se/~mortis/">Web</a> <span itemprop="url" class="u-url">http://www.acc.umu.se/~mortis/</span></li>
    </ul>
  </section>
</div>

<div class="articles wrapper">
  <section>
    <header>
      <h1>Articles</h1>
    </header>
    <p> I am going to share with you a few anecdotes which I hope you
    will enjoy. They should give some insight into events that
    defined me and hopefully trigger one or two chuckles.</p>

    <nav>
      <ul class="iconlist">
        <li><i class="icon-linux"></i> <a href="geekdom.html">My Rise to Geekdom</a> </li>
        <li><i class="icon-heart"></i> <a href="2008.html">2008 in retrospect</a> </li>
        <li><i class="icon-home"></i> <a href="2009.html">2009 in retrospect</a> </li>
        <li><i class="icon-female"></i> <a href="2013.html">Catching up to 2013</a> </li>
      </ul>
    </nav>
  </section>
</div>

<div class="resume wrapper">
  <section class="h-resume">
    <header>
       <h1><a name="resume">Resume</a></h1>
    </header>

    <div class="p-contact h-card">
      <h2 class="p-name"><span class="p-given-name">Markus</span>
      <span class="p-family-name">Mårtensson</span></h2>

      <ul class="icontable printonly">
        <li><i class="icon-envelope"></i> <a href="mailto:markus.martensson@gmail.com">Email</a> <span class="u-email">markus.martensson@gmail.com</span></li>
        <li><i class="icon-mobile-phone"></i> <a href="tel:+46730801043">Phone</a> <span class="p-tel">+46730801043</span></li>
        <li><i class="icon-globe"></i> <a href="http://www.acc.umu.se/~mortis/">Web</a> <span class="u-url">http://www.acc.umu.se/~mortis/</span></li>
      </ul>
    </div>

    <ul class="p-summary iconlist">
      <li><i class="icon-hand-right"></i> Passionate, creative and dedicated software developer.</li>
      <li><i class="icon-hand-right"></i> Can understand, influence, and guide all stages of the development process.</li>
    </ul>

    <section>
      <header>
        <h2>Skills</h2>
      </header>

      {{#* inline "skill"}}
        <a href="http://en.wikipedia.org/wiki/{{wiki}}" class="p-skill">{{text}}</a>
      {{/inline}}

      <p>Fluent in {{>skill languages.swedish}} (native) and {{>skill languages.english}}.
      Understands {{>skill languages.norweigian}} and {{>skill languages.danish}}.
      Basic skills in {{>skill languages.german}}.

      <div id="skillcloud" itemscope itemtype="http://schema.org/ItemList" aria-labelledby="skillcloud-label">
      <span id="skillcloud-label" class="hidden" itemprop="name">Skillcloud</span>
      {{#eachProperty skills}}
        <a href="http://en.wikipedia.org/wiki/{{value.wiki}}"
            data-skill="{{key}}" itemprop="itemListElement"
            {{#if value.desc}} title="{{value.desc}}" {{/if}}
            class="{{value.comp}} p-skill">{{value.text}}</a>
      {{/eachProperty}}
      </div>

      <div id="skilldetails"><i class="icon-2x icon-info-sign pull-left"></i> Select a skill above to expand abbreviations, provide Wikipedia links, and highlight the associated parts of the sections below.</div>
    </section>

    <section>
      <header>
        <h2>Experience</h2>
      </header>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Lead Software Architect</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.mayam.com/">Mayam AB</a>,
           <span class="p-location">Djursholm</span></p>
        <p><time class="dt-start" datetime="2010-10">October 2010</time> – Present</p>
        <ul class="enum">
            <li>Created <span data-skills="java distributedsystems html javascript css workflows
                webapplications foss gwt">task list frontend</span>, including
                <span data-skills="java html css webapplications foss gwt">comprehensive
                configuration interface</span>.</li>
            <li>Created <span data-skills="java distributedsystems json metadata
                foss oracle mysql">frameworks for modelling, mapping, storing,
                and searching metadata</span>.</li>
            <li>Created <span data-skills="java distributedsystems jms foss">message
                queue abstraction with backup and playback support</span>.</li>
            <li>Created <span data-skills="java distributedsystems workflows json rest">RESTful
                interface for the task list backend, complete with a convenient
                Java client</span>. Also created
                <span data-skills="java distributedsystems xml soap">SOAP endpoints</span>.</li>
            <li>Configuration management, testing, evaluations.</li>
            <li>Integration with third party products such as
                <span data-skills="mam broadcasting">Viz Media Engine and Fesad</span>.</li>
        </ul>
      </div>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Lead Software Engineer</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.vizrt.com/">Vizrt Sweden / Ardendo AB</a>,
           <span class="p-location">Kista</span></p>
        <p><time class="dt-start" datetime="2006-12">December 2006</time> –
           <time class="dt-end" datetime="2010-10">October 2010</time></p>
        <ul class="enum">
            <li>Leading role in the <span data-skills="distributedsystems html javascript css mam digitalmedia
                broadcasting db2 oracle agile scrum webapplications perl">research and development of the
                Ardendo MAM system Ardome</span>.</li>
            <li>Created a subsystem for <span data-skills="distributedsystems mam db2 oracle
                perl">deferred execution based on application layer database triggers</span>.</li>
            <li>Created a subsystem for <span data-skills="distributedsystems html css mam db2 oracle
                webapplications perl">policy based scheduled execution</span>.</li>
            <li>Created a <span data-skills="html javascript css mam metadata textsearch lucene
                webapplications perl">thesaurus
                subsystem, including metadata entry and serching</span>.</li>
            <li>Authored a <span data-skills="perl db2 oracle">database
                abstraction layer for Perl with object-relational mapping</span>.</li>
            <li>Created an <span data-skills="perl json xml rest">annotation based RESTful Perl framework similar
                to the JAX-RS for Java</span>.</li>
            <li>Layed the foundation for the <span data-skills="agile scrum perl rest mam digitalmedia
                broadcasting">Viz Media Engine which replaces Ardome, playing a key role in research
                and development of technology and designing interfaces</span>.</li>
        </ul>
      </div>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Systems Specialist</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.vizrt.com/">Ardendo AB</a>,
           <span class="p-location">Danderyd</span></p>
        <p><time class="dt-start" datetime="2003-10">October 2003</time> –
           <time class="dt-end" datetime="2006-11">November 2006</time></p>
        <ul class="enum">
            <li>Research and development centered around the
               <span data-skills="distributedsystems javascript html css mam digitalmedia broadcasting db2
                oracle webapplications perl foss ldap">Ardendo flagship product, the MAM system Ardome</span>.</li>
            <li>Co-authored a <span data-skills="html javascript css perl">web template engine and web
                application framework</span>.</li>
            <li>Created a <span data-skills="workflows html css perl">workflow subsystem</span>.</li>
            <li>Created a <span data-skills="perl textsearch lucene db2 oracle metadata">search framework with
                pluggable search engines</span>.</li>
            <li>Created a <span data-skills="distributedsystems perl textsearch foss lucene metadata">scalable
                distributed search engine based on Lucene</span>.</li>
            <li>Created a <span data-skills="perl">software package management system supporting
                dependencies and multiple cocurrent versions, including linked development trees.</span>.</li>
        </ul>
      </div>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Systems Engineer</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.hpc2n.umu.se/">HPC2N, Umeå University</a>,
           <span class="p-location">Umeå</span></p>
        <p><time class="dt-start" datetime="2001-10">October 2001</time> –
           <time class="dt-end" datetime="2006-09">September 2003</time></p>
        <ul class="enum">
            <li>Maintenance and development of <span data-skills="aix irix solaris linux
                systemadministration">UNIX, Windows, and Virtual Reality systems</span>.</li>
            <li>Infrastructure change to <span data-skills="kerberos ldap afs systemadministration perl
                systemprogramming">Kerberos/LDAP/AFS, including development of sysadmin tools</span>.</li>
            <li><span data-skills="linux systemadministration">Swedens fastest computer
                at the time, a Linux cluster with 240 processors</span>.</li>
        </ul>
      </div>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Thesis Worker / Security Consultant</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.noblestar.com/">Roaming Factory AB / Noblestar AB</a>,
           <span class="p-location">Umeå</span></p>
        <p><time class="dt-start" datetime="2000-09">September 2000</time> –
           <time class="dt-end" datetime="2001-09">September 2001</time></p>
        <ul class="enum">
            <li>Thesis on <span data-skills="java">Java object mapping, persistance, and demand paging</span>.</li>
            <li>Created a <span data-skills="security c cpp pki systemprogramming">secure online file server involving TLS, PKI,
                and Smart Cards for GTC Security AB</span>.</li>
        </ul>
      </div>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Systems Administrator</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.litu.umu.se/">LITU, Umeå University</a>,
           <span class="p-location">Umeå</span></p>
        <p><time class="dt-start" datetime="1999-06">June 1999</time> –
           <time class="dt-end" datetime="1999-08">August 1999</time></p>
        <ul class="enum">
            <li>Created a <span data-skills="html php webapplications systemadministration systemprogramming
                solaris windows">web application providing a single user administration interface for Solaris,
                Windows NT, and First Class</span>.</li>
        </ul>
      </div>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Computer Technician</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.eurocon.se/">Eurocon AB</a>,
           <span class="p-location">Örnsköldsvik</span></p>
        <p><time class="dt-start" datetime="1998-05">May 1998</time> –
           <time class="dt-end" datetime="1998-08">August 1998</time></p>
        <ul class="enum">
            <li><span data-skills="systemadministration">Internet connection evaluation and deployment</span>.</li>
            <li><span data-skills="systemadministration windows">Supporting a Microsoft Windows environment</span>.</li>
        </ul>
      </div>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Computer Technician</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.eurocon.se/">Eurocon AB</a>,
           <span class="p-location">Örnsköldsvik</span></p>
        <p><time class="dt-start" datetime="1997-05">May 1997</time> –
           <time class="dt-end" datetime="1997-08">August 1997</time></p>
        <ul class="enum">
            <li><span data-skills="systemadministration html">Corporate intranet and internet presence</span>.</li>
            <li><span data-skills="systemadministration windows">Supporting a Microsoft Windows environment</span>.</li>
        </ul>
      </div>

      <div class="p-experience h-event h-card">
        <h3 class="p-title">Computer Technician</h3>
        <p class="p-org"><a class="p-name u-url" href="http://www.kvaerner.com/">MoDo Chemetics AB</a>, Erkab Engineering,
           <span class="p-location">Örnsköldsvik</span></p>
        <p><time class="dt-start" datetime="1996-04">April 1996</time> –
           <time class="dt-end" datetime="1996-06">June 1996</time></p>
        <ul class="enum">
            <li><span data-skills="metadata">Development of document management system</span>.</li>
            <li><span data-skills="systemadministration windows">Technical support</span>.</li>
        </ul>
      </div>
    </section>

    <section>
      <header>
        <h2>Education</h2>
      </header>

      <div class="p-education h-event h-card" itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
        <h3 class="p-title">Msc Computer Science</h3>
        <p class="p-org"><a class="p-name u-url" itemprop="url"
            href="http://www.umu.se/"><span itemprop="name">Umeå University</span></a>,
           <span class="p-location" itemprop="location">Umeå</span></p>
        <p><time class="dt-start" datetime="1996-08">August 1996</time> –
           <time class="dt-end" datetime="2001-05">May 2001</time></p>
        <ul class="enum">
            <li>Majoring in <span data-skills="distributedsystems systemprogramming
                c cpp">Software Engineering</span>.</li>
        </ul>
      </div>

      <div class="p-education h-event h-card" itemProp="alumniOf" itemtype="http://schema.org/HighSchool">
        <h3 class="p-title">Natural Sciences</h3>
        <p class="p-org"><a class="p-name u-url" itemprop="url"
            href="http://www.ornskoldsvik.se/gymnasium/"><span itemprop="name">Nolaskolan Upper Secondary School</span></a>,
           <span class="p-location" itemprop="location">Örnsköldsvik</span></p>
        <p><time class="dt-start" datetime="1992-08">August 1992</time> –
           <time class="dt-end" datetime="1995-06">June 1995</time></p>
        <ul class="enum">
            <li>Profiling in <span data-skills="">Computer Orientation</span>.</li>
        </ul>
      </div>
    </section>

    <section>
      <header>
        <h2>Publications</h2>
      </header>

      <ul class="enum">
        <li>
          <cite itemscope itemtype="http://www.schema.org/ScholarlyArticle">
            <span itemscope itemprop="author" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Markus Mårtensson</span>
            </span>
            (<time itemprop="datePublished" datetime="2000-05-16">2000</time>):
            <span itemprop="headline" data-skills="xml" class="title">Current Topics in Software Engineering:
                XML Query Languages.</span>
            <span itemscope itemprop="publisher" itemtype="http://www.schema.org/CollegeOrUniversity">
                <span itemprop="name">Umeå University</span>, Department of Computer Science.
            </span>
            <span itemprop="educationalUse" aria-hidden="true">assignment</span>
            <span itemprop="inLanguage" aria-hidden="true">en</span>
            <a itemprop="url" class="download"
                href="../downloads/publications/xml-query-languages.pdf">Download</a>
        </li>
        <li>
          <cite itemscope itemtype="http://www.schema.org/ScholarlyArticle">
            <span itemscope itemprop="author" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Markus Mårtensson</span>
            </span>
            (<time itemprop="datePublished" datetime="2001-02-13">2001</time>):
            <span itemprop="headline" data-skills="java" class="title">Java™ Object Mapping and Persistence
                with Demand Paging.</span>
            <span itemscope itemprop="publisher" itemtype="http://www.schema.org/CollegeOrUniversity">
                <span itemprop="name">Umeå University</span>, Department of Computer Science.
            </span>
            <span itemprop="educationalUse">Master Thesis.</span>
            <span itemprop="inLanguage" aria-hidden="true">en</span>
            <a itemprop="url" class="download"
                href="../downloads/publications/java-object-mapping-and-persistence.pdf">Download</a>
        </li>
        <li>
          <cite itemscope itemtype="http://www.schema.org/ScholarlyArticle">
            <span itemscope itemprop="contributor" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Niklas Edmundsson</span>
            </span> and
            <span itemscope itemprop="author" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Erik Elmroth</span>
            </span> and
            <span itemscope itemprop="author" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Bo Kågström</span>
            </span> and
            <span itemscope itemprop="contributor" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Markus Mårtensson</span>
            </span> and
            <span itemscope itemprop="contributor" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Mats Nylén</span>
            </span> and
            <span itemscope itemprop="contributor" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Åke Sandgren</span>
            </span> and
            <span itemscope itemprop="contributor" itemtype="http://www.schema.org/Person">
                <span itemprop="name">Mattias Wadenstein</span>
            </span>
            (<time itemprop="datePublished" datetime="2004-07-01">2004</time>):
            <span itemprop="headline" data-skills="systemadministration" class="title">Design and
                evaluation of a TOP100 Linux Super Cluster system.</span>
            <span itemscope itemprop="publisher" itemtype="http://www.schema.org/Corporation" aria-hidden="true">
                <span itemprop="name">John Wiley Sons, Ltd. Chichester, UK</span>
            </span>
            <span>Concurrency and Computation: Practice and Experience.</span>
            <span itemprop="inLanguage" aria-hidden="true">en</span>
            <a itemprop="url" class="download"
                href="http://onlinelibrary.wiley.com/doi/10.1002/cpe.787/abstract">Download</a>
        </li>
      </ul>
    </section>

    <section>
      <header>
        <h2>Affiliations</h2>
      </header>

      <h3>Computer Clubs</h3>

      <div itemscope itemprop="affiliation" itemtype="http://www.schema.org/Organization">
        <a itemprop="url" href="http://www.acc.umu.se/">Academic Computer Club</a>
        (formerly <abbr title="Teknologsektionens datorförening">TSDF</abbr>),
        <span itemscope itemprop="location" itemtype="http://www.schema.org/Place">
          <span itemprop="name">Umeå</span>
        </span>
        <ul class="enum">
          <li>Active member for many years, including two years as board member and
          <span data-skills="systemadministration aix irix solaris linux">four years
             as systems administrator</span>.</li>
        </ul>
      </div>

      <div itemscope itemprop="affiliation" itemtype="http://www.schema.org/Organization">
        <a itemprop="url" href="http://www.eagle.y.se/">Eagle Computing / Aktiv Ungdom</a>
        (formerly <abbr title="The Graphic Equalizer Hackers">TGEH</abbr>),
        <span itemscope itemprop="location" itemtype="http://www.schema.org/Place">
          <span itemprop="name">Örnsköldsvik</span>
        </span>
        <ul class="enum">
          <li>Active member for many years.</li>
        </ul>
      </div>
    </section>

    <section>
      <header>
        <h2>References</h2>
      </header>

      <p>Personal and professional references are available upon request.</p>
    </section>

  </section>
</div>

<footer>
HTML5 with CSS3 presentation and semantics via <a href="http://microformats.org/wiki/microformats-2">Microformats 2
</a> and <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/microdata.html#microdata">Microdata
</a> (using <a href="http://www.schema.org/">schema.org</a>) where applicable. Feel free to browse the <i
 class="icon-github"></i> <a href="https://github.com/mmartensson/responsive-home">source</a>.
</footer>
</article>
